<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用戶管理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">    
</head>
<body>
    <div class="container mt-5">
        <h1>用戶管理</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用戶名字</th>
                    <th>Email</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <form action="{{ url_for('main.delete_users', user_id=user.id) }}" method="POST">
                            <button type="submit" class="btn btn-primary">刪除</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <a href="{{ url_for('main.admin_dashboard') }}" class="back-to-home">回到首頁</a>
    </div>
    <div id="message">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
