<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結帳</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    <div style="text-align: center; margin-top: 20px;">
        <a href="{{ url_for('main.index') }}" class="back-to-home">回到首頁</a>
    </div>
    <div class="container">
        <h1>結帳</h1>
        <form method="POST" action="{{ url_for('main.checkout') }}">
            <label for="recipient_name">收件人姓名：</label>
            <input type="text" id="recipient_name" name="recipient_name" required>

            <label for="recipient_address">收件人地址：</label>
            <input type="text" id="recipient_address" name="recipient_address" required>

            <label for="recipient_phone">收件人電話：</label>
            <input type="text" id="recipient_phone" name="recipient_phone" required>

            <button type="submit">提交訂單</button>
        </form>
    </div>
</body>
</html>