<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    <nav>
        <div>
            <h1 style="color: #007bff; font-size: 36px; text-align: left;">歡迎來到孩子王食品</h1>
        </div>
            <a href="{{ url_for('main.cart') }}">查看購物車</a>
        </div>
        <!--登錄與註冊-->
        <div>
            {% if session.get('user_id') %}
                <span>歡迎, {{ session.get('user_name') }}</span>
                <a href="{{ url_for('main.logout') }}">登出</a>
                <a href="{{ url_for('main.orders') }}">我的訂單</a>
            {% else %}
                <a href="{{ url_for('main.login') }}">登入</a>
                <a href="{{ url_for('main.register') }}">註冊</a>
            {% endif %}
        </div>
    </nav>

    <!--商品列表-->
    <div class="container">
        <h1>商品列表</h1>
        <div id="product-list">
            {% for product in products %}
            <div class="product">
                <img src="{{ url_for('static', filename='images/' + product.image_url) }}" alt="{{ product.name }}">
                <div class="product-info">
                    <h3>{{ product.name }}</h3>
                    <p>價格 : ${{ product.price }}</p>
                    <p>數量 : {{ product.stock }}</p>
                    <button onclick="addToCart('{{ product.id }}')">加入購物車</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function addToCart(productID) {
            fetch('/cart/add/'+productID, {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error('Error:',error));
        }
    </script>
</body>
</html>